header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
}
choix {
	
    background-color:#eeeeee;
    float:left;
	width:100%;
	text-align:center;
}
section {
    float:left;
    padding:10px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

a { /* Les liens qui ne sont pas sous le curseur. */
	color: black; 
	text-decoration:none; 
	/*font-family:Arial,Verdana; */
}
a:hoover { /* Les liens lorsque le curseur est dessus. */
	color: black;
	text-decoration:none;
	/*font-family:Arial,Verdana; */
}
a:visited { /* Les liens visités. */
	color: black;
	text-decoration:none; 
	/*font-family:Arial,Verdana; */
}

table, th, td {
	border: 1px solid black;
	border-collapse:collapse;
}
th, td {
	padding: 5px;
}