body{
	background-color:#C7C7C7;
}
.carre1
{
	position : absolute;
	vertical-align:middle;
	text-align:center;
	border:solid 5px;
	border-color:#FF0000;
	width:49%;
	height:49%;
	top:0%;
	left:0.25%;
}
.carre2
{
	position : absolute;
	vertical-align:middle;
	text-align:center;
	border:solid 5px;
	border-color:#;
	width:49%;
	height:49%;
	top:0%;
	left:49.75%;
}
.carre3
{
	position : absolute;
	vertical-align:middle;
	text-align:center;
	border:solid 5px;
	border-color:#;
	width:49%;
	height:49%;
	top:49.5%;
	left:0.25%;
}
.carre4
{
	position : absolute;
	vertical-align:middle;
	text-align:center;
	border:solid 5px;
	border-color:#;
	width:49%;
	height:49%;
	top:49.5%;
	left:49.75%;
}
